:root {
    --green-clr: #0e6651;
    --green-clr-2: #147d64;
    --grey-clr: #9d9d9d;
    --grey-clr-2: #b1b1b1;
    --grey-clr-3: #b0b0b0;
    --thin-fw: 100;
    --extra-light-fw: 200;
    --light-fw: 300;
    --regular-fw: 400;
    --medium-fw: 500;
    --semi-bold-fw: 600;
    --bold-fw: 700;
    --extra-bold-fw: 800;
    --black-fw: 900;
}
.sidebar-nav .nav-link svg.no-bg rect {
    fill: none;
}
.pt-20 {
    padding-top: 20px;
}
.strategy-calc-main-section {
    margin-top: 20px;
    padding-inline: 3rem;
}

.strategy-calc-main-div {
    border-radius: 30px;
    border: 1px solid #dfdfdf;
    background: #fff;
    padding-bottom: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.index-strategy-head-div {
    position: relative;
    width: 100%;
    padding: 16px 0;
    border-bottom: 1.25px solid #dfdfdf;
    margin-bottom: 0.1rem;
}

.index-strategy-head-div h1 {
    position: relative;
    display: table;
    margin: 0 auto;
    color: #000;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.index-strategy-head-div h1::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 17px;
    background: #0e6651;
    left: 83px;
    bottom: -5px;
}

.index-strategy-head-div a.back {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #a0a0a0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.index-strategy-head-div a.back img {
    position: relative;
    top: 2px;
}

.index-strategy-head-div a.back:hover {
    opacity: 0.5;
}

.index-strategy-content-div {
    padding: 40px 30px 20px 30px;
    border-top: 1.25px solid #dfdfdf;
}

.index-strategy-table-content-div {
    padding: 40px 15px 0 15px;
    border-top: 1.25px solid #dfdfdf;
}
.index-strategy-table-content-div.more-padding {
    padding: 40px 60px 0 60px;
}
.half-col-left {
    padding-right: 20px;
}
.half-col-right {
    padding-left: 20px;
}
.index-strategy-content-inner-div {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.index-strategy-each-tabs-head {
    border-radius: 8px;
    border: 1.25px solid #dfdfdf;
    background: #0e6651;
    padding: 12px 30px 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.graph-tab-head {
    border-radius: 12px 12px 0px 0px;
    background: #3c3c3c;
    padding: 2px 15px 2px 20px;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.index-strategy-each-tabs-head p {
    position: relative;
    color: #fff;
    text-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.index-strategy-each-tabs-head p::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 11px;
    background: #14eab7;
    left: 0;
    bottom: 0;
}

.index-strategy-each-tabs-head p span {
    color: rgba(242, 242, 242, 0.95);
    font-size: 12px;
    margin-left: 15px;
    font-weight: 400;
}

.index-strategy-inputs-div {
    margin-top: 10px;
    padding: 0 20px 30px 20px;
}

.index-strategy-inputs-div .inp-mar-top {
    margin-top: 10px;
}
.index-strategy-inputs-div label {
    position: relative;
    display: block;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.index-strategy-inputs-div label span,
.each-card-row label span,
.each-tax-details-bar label {
    position: relative;
}
.index-strategy-inputs-div label span svg,
.each-card-row label span svg,
.each-tax-details-bar label svg {
    cursor: pointer;
}
.index-strategy-inputs-div label span span,
.each-card-row label span span,
.each-tax-details-bar label small {
    display: none;
    position: absolute;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0.5px 3px 0px rgba(0, 0, 0, 0.25);
    width: 255px;
    z-index: 1;
    top: -100%;
    left: 50%;
    transform: translate(-50%, calc(-100% + 18px));
    padding: 10px;
    color: #000;
    font-size: 13px;
    font-weight: 500;
}
.index-strategy-inputs-div label span:hover span,
.each-card-row label span:hover span,
.each-tax-details-bar label:hover small {
    display: block;
}
.top-minus-1 {
    top: -1px;
}
.index-strategy-inputs-div label::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background: #0e6651;
    left: 0;
    bottom: 0;
}
.index-strategy-each-inputs {
    position: relative;
    border-radius: 5px;
    border: 1.25px solid #dfdfdf;
    background: #fff;
    width: 100%;
    height: 42px;
    box-shadow: none;
    outline: none;
    padding: 0 12px;
    display: flex;
    align-items: center;
}
.index-strategy-each-inputs.error,
.select-menu.error .select-btn {
    border: 1.25px solid #dd3611 !important;
}
.index-strategy-each-inputs .percent {
    color: #dfdfdf;
}
p.error-text {
    display: none;
}
.index-strategy-each-inputs.error ~ p.error-text,
.select-menu.error ~ p.error-text {
    display: block;
    color: #dd3611;
    font-size: 10px;
    font-weight: 600;
    margin: 0;
    margin-top: 5px;
}
.index-strategy-each-inputs span {
    position: absolute;
    top: 50%;
    right: 12px;
    left: unset;
    transform: translateY(-50%);
    color: #dfdfdf;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.index-strategy-inputs-div .index-strategy-each-inputs.dollar span {
    left: 12px;
    right: unset;
}
.index-strategy-each-inputs:focus-within span {
    color: #000;
}
.index-strategy-inputs-div input {
    height: 100%;
    width: 100%;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    background: none;
}
.index-strategy-inputs-div .index-strategy-each-inputs.dollar input {
    padding-left: 12px;
}
.index-strategy-inputs-div input::-webkit-outer-spin-button,
.index-strategy-inputs-div input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.index-strategy-inputs-div input[type="number"] {
    -moz-appearance: textfield;
}
.index-strategy-each-inputs:has(> input:not(:placeholder-shown)) span {
    color: #000;
}
.select-menu {
    position: relative;
    width: 100%;
}
.select-menu .select-btn {
    display: flex;
    height: 42px;
    border-radius: 5px;
    border: 1.25px solid #dfdfdf;
    background: #fff;
    height: 42px;
    box-shadow: none;
    outline: none;
    padding: 0 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
.select-menu .options {
    display: none;
    position: absolute;
    width: 100%;
    overflow-y: auto;
    max-height: 200px;
    background: #fff;
    border: 1.25px solid #dfdfdf;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    list-style: none;
    margin: 0;
    padding: 14px 0;
    overflow-x: hidden;
}
.select-menu .options .option {
    display: flex;
    cursor: pointer;
    padding: 8px 12px;
    align-items: center;
    background: #fff;
    border-radius: 0;
}
.select-menu .options .option.disabled {
    pointer-events: none;
}
.select-menu .options .option.disabled .option-text {
    color: #aaa;
}
.select-menu .options .option:hover {
    background: #f2f2f2;
}
.select-menu .options .option .option-text {
    position: relative;
    color: #000;
    font-size: 15px;
    font-weight: 400;
}
.select-btn i {
    font-size: 25px;
    font-weight: 400;
    transition: 0.3s;
}
.select-menu.active .select-btn {
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
}
.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}
.select-menu.active .options {
    display: block;
    z-index: 10;
}
.select-menu .options .option.active .option-text {
    font-weight: 600;
}
.select-menu .options .option.active .option-text::before {
    content: url("./../images/icons/selecr-tick.svg");
    position: absolute;
    right: -1.5rem;
}
.multi-radio-main-div {
    background: #f2f2f2;
    border-radius: 100px;
    padding: 4px;
    gap: 4px;
    display: flex;
    justify-content: space-between;
    max-width: 426px;
    width: 100%;
    box-shadow: 0px 0.5px 4px 0px rgba(0, 0, 0, 0.25);
}
.multi-radio-main-div .each-radio-switch:nth-child(1) .form-check-input {
    pointer-events: none;
}
.each-radio-switch {
    background: transparent;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 100%;
    margin-bottom: 0;
    flex: 1;
    cursor: pointer;
}
.each-radio-switch.active {
    background: #0e6651;
}

.each-radio-switch .each-radio-label {
    margin-left: 10px;
    line-height: 1;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}
.each-radio-switch.active .each-radio-label {
    color: #fff;
}
.radion-numbering-para {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    margin-left: 6px;
    position: relative;
    top: 2px;
}
.each-radio-switch .form-check-input {
    cursor: pointer;
    box-shadow: none;
    width: 2.25rem;
    height: 1.375rem;
    margin: 0;
    background-color: #d9d9d9;
    border-radius: 6.5rem;
    border: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.each-radio-switch .form-check-input:focus {
    border: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.each-radio-switch .form-check-input:checked {
    background-color: #0e6651;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.each-radio-switch.active .form-check-input:checked {
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%230E6651'/%3e%3c/svg%3e");
}
.strategy-parameter-main-div {
    padding: 20px 20px 40px 20px;
}
.strategy-parameter-heading {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.strategy-allocation-head-para {
    position: relative;
    display: table;
    margin: 0 auto;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}

.strategy-allocation-head-para::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 17px;
    background: #0e6651;
    left: 0;
    bottom: -5px;
}
.strategy-allocation-head-para span {
    position: relative;
}

.strategy-allocation-head-para span img {
    cursor: pointer;
}
.strategy-allocation-head-para span span {
    display: none;
    position: absolute;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0.5px 3px 0px rgba(0, 0, 0, 0.25);
    width: 165px;
    z-index: 1;
    top: -100%;
    left: 50%;
    transform: translate(-50%, calc(-100% + 10px));
    padding: 10px;
    color: #000;
    font-size: 11px;
    font-weight: 500;
}
.strategy-allocation-head-para span:hover span {
    display: block;
}
.strategy-allocation-all-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: #f2f2f2;
    box-shadow: 0px 0.5px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 4px;
    max-width: 426px;
    margin: 15px auto 3px auto;
}
.strategy-allocation-all-div.error {
    border: 1.25px solid #dd3611;
}
.strategy-allocation-all-div ~ .error-para {
    display: none;
}
.strategy-allocation-all-div.error ~ .error-para {
    display: block;
    color: #dd3611;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}
.strategy-allocation-all-div div {
    border-radius: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    overflow: hidden;
    border: 1.5px solid #dfdfdf;
}
.strategy-allocation-all-div div.active .allocation-input {
    background: #0e6651;
    color: #fff;
}
.allocation-input {
    background-color: transparent;
    border: 0;
    text-align: center;
    width: 100%;
    height: 35px;
    background: #d9d9d9;
    color: #000;
    font-weight: 600;
}
.allocation-input:disabled {
    background: #d9d9d9;
}
.allocation-input:focus,
.strategy-allocation-all-div div.active .allocation-input:focus {
    background: #f6f6f6;
    color: #000;
}
.three-radio-button-input-div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.three-radio-button-input-div > div {
    height: 42px;
    flex: 1;
}
.three-radio-button-input-div label {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0.25px 3px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    display: grid;
    place-items: center;
    cursor: pointer;
    margin: 0;
}
.three-radio-button-input-div label::before {
    content: none;
}
.three-radio-button-input-div input:checked ~ label {
    border: 1.5px solid #0e6651;
}
.run-reset-btn-div {
    margin-top: 20px;
}
.run-reset-btn-div a {
    display: grid;
    place-items: center;
    border-radius: 50px;
    max-width: 190px;
    height: 45px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    margin: 20px auto;
    cursor: pointer;
}
.run-reset-btn-div a.run-button {
    background: #0e6651;
}
.run-reset-btn-div a.run-button:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.run-reset-btn-div a.run-button.disabled {
    background: #a1a1a1;
    pointer-events: none;
    user-select: none;
}
.run-reset-btn-div a.reset-button {
    background: #3c3c3c;
}

.run-reset-btn-div a.reset-button:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.calc-tab-graph-tab {
    display: flex !important;
    background: #fff;
    box-shadow: 0px 0.25px 2px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    width: 434px;
    padding: 3px;
    flex-wrap: unset;
}
.calc-tab-graph-tab.wide {
    width: 670px;
}
.calc-tab-graph-tab div {
    background: #fff;
    border-radius: 100px;
    width: 100%;
    text-align: center;
    padding: 0.325rem 0;
    font-weight: 600;
    font-size: 13px;
    color: #000000;
    cursor: pointer;
}
.calc-tab-graph-tab div.active {
    background: var(--green-clr);
    border-radius: 100px;
    color: #fff;
}
.index-strategy-table-heading {
    position: relative;
    border-radius: 4px;
    border: 0.5px solid #bbb;
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding: 5px;
}
.index-strategy-table-heading.blueClr {
    background: #1660a4;
}
.index-strategy-table-heading.greenClr {
    background: #147d64;
}
.index-strategy-table-heading .icon-span {
    position: relative;
}
.index-strategy-table-heading .icon-span svg {
    cursor: pointer;
}
.index-strategy-table-heading .icon-span span {
    display: none;
    position: absolute;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0.5px 3px 0px rgba(0, 0, 0, 0.25);
    width: 180px;
    z-index: 1;
    top: -100%;
    left: 50%;
    transform: translate(-50%, calc(-100% + 11px));
    padding: 10px;
    color: #000;
    font-size: 11px;
    font-weight: 500;
    text-align: left;
}
.index-strategy-table-heading .icon-span.extras span {
    width: auto;
    white-space: nowrap;
}
.index-strategy-table-heading .icon-span:hover span {
    display: block;
}
table.index-strategy-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
table.index-strategy-table thead tr {
    border: 1.5px solid #dfdfdf;
}
table.index-strategy-table thead th {
    border-top: 1.5px solid #dfdfdf;
    border-bottom: 1.5px solid #dfdfdf;
    padding: 8px 5px;
    background-color: #f9fcff;
    text-align: center;
    color: #000;
    font-size: 15px;
    font-weight: 700;
}
table.index-strategy-table thead tr:first-child th:first-child {
    border-top-left-radius: 6px;
    border-left: 1.5px solid #dfdfdf !important;
}
table.index-strategy-table thead tr:first-child th:last-child {
    border-top-right-radius: 6px;
    border-right: 1.5px solid #dfdfdf !important;
}
table.index-strategy-table tbody tr {
    border: 1px solid #dfdfdf;
}
table.index-strategy-table tbody td {
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    padding: 6px 5px;
    background-color: #f9fcff;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}
table.index-strategy-table tbody td.highlighted {
    color: #dd3611;
}
/* tbody tr td:first-child {
    border-left: 1px solid #dfdfdf !important;
} */
tbody tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}
table.index-strategy-table tr td,
table.index-strategy-table tr th {
    background: #f9fcff;
    min-height: 38px;
}
.index-strategy-table-heading.greenClr ~ .table-responsive .index-strategy-table tr td,
.index-strategy-table-heading.greenClr ~ .table-responsive .index-strategy-table tr th {
    background-color: #fafffe;
}
.index-strategy-table-heading ~ .table-responsive .index-strategy-table tr:hover td {
    background: rgba(22, 96, 164, 0.15);
    cursor: pointer;
}
.index-strategy-table-heading.greenClr ~ .table-responsive .index-strategy-table tr:hover td {
    background: rgba(20, 125, 100, 0.15);
    cursor: pointer;
}
.index-strategy-head-radio {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    margin: 3px 0 0 0;
    padding: 0;
}
.table-graph-bottom-head .index-strategy-head-radio {
    left: 25px;
}
.index-strategy-head-radio input[type="checkbox"].switch_1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 28px;
    height: 16px;
    background: #fff;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.index-strategy-head-radio input[type="checkbox"].switch_1:checked {
    background: #fff;
}
.index-strategy-head-radio input[type="checkbox"].switch_1:after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #bbb;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.index-strategy-head-radio input[type="checkbox"].switch_1:checked:after {
    left: calc(100% - 14px);
    background: #000;
}
.index-strategy-table-heading.blueClr .index-strategy-head-radio input[type="checkbox"].switch_1:checked:after,
.table-graph-bottom-head.blueClr .index-strategy-head-radio input[type="checkbox"].switch_1:checked:after {
    background: #1660a4;
}
.index-strategy-table-heading.greenClr .index-strategy-head-radio input[type="checkbox"].switch_1:checked:after,
.table-graph-bottom-head.greenClr .index-strategy-head-radio input[type="checkbox"].switch_1:checked:after {
    background: #147d64;
}

.index-strategy-head-radio.inline {
    right: 0;
    text-align: right;
    margin-right: 10px;
    top: 14px;
}
.index-strategy-head-radio.inline label {
    font-size: 12px;
    font-style: italic;
    margin-right: 7px;
    top: 14px;
}
.index-strategy-head-radio.inline input {
    top: 3px;
}

.half-col.inactive .table-graph-bottom-head .table-graph-bottom-content-div {
    visibility: hidden;
}
.half-col.inactive .index-strategy-table-heading {
    background: #bbb;
}
.half-col.inactive .index-strategy-table-heading .icon-span svg circle {
    fill: #d0d0d0;
}

.half-col.inactive .index-strategy-table-heading .icon-span svg ellipse,
.half-col.inactive .index-strategy-table-heading .icon-span svg rect {
    fill: #fff;
}

.half-col.inactive .table-responsive {
    display: none;
}

.setting-icon-div {
    margin: 5px auto 10px auto;
}
.setting-icon-div .setting-icon-div-span {
    position: relative;
    display: table;
    margin: 0 0 0 auto;
    cursor: pointer;
}
.setting-icon-div svg {
    display: block;
    margin: 0 0 0 auto;
    cursor: pointer;
}

.setting-icon-div svg:hover {
    filter: grayscale(1);
}

.table-graph-bottom-each-main-div .blueClr ~ .table-graph-bottom-content-div .row:hover {
    background: rgba(22, 96, 164, 0.15);
    cursor: pointer;
}
.table-graph-bottom-each-main-div .greenClr ~ .table-graph-bottom-content-div .row:hover {
    background: rgba(20, 125, 100, 0.15);
    cursor: pointer;
}
.setting-icon-div .setting-icon-div-span img {
    cursor: pointer;
}

.setting-icon-div .setting-icon-div-span span {
    display: none;
    position: absolute;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0.5px 3px 0px rgba(0, 0, 0, 0.25);
    width: 180px;
    z-index: 1;
    top: -2.8rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: #000;
    font-size: 11px;
    font-weight: 500;
}

.setting-icon-div .setting-icon-div-span:hover span {
    display: block;
}

.table-graph-bottom-each-main-div {
    border-radius: 30px;
    border: 1px solid #dfdfdf;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.table-graph-bottom-each-main-div .table-graph-bottom-head {
    position: relative;
    background: #000;
    padding: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 30px 30px 0 0;
    z-index: 1000;
}
.table-graph-bottom-each-main-div .table-graph-bottom-head.greenClr {
    background: #147d64;
}
.table-graph-bottom-each-main-div .table-graph-bottom-head.blueClr {
    background: #1660a4;
}
.table-graph-bottom-each-main-div.inactive .table-graph-bottom-head,
.table-graph-bottom-each-main-div.inactive1 .table-graph-bottom-head {
    background-color: #bbb;
}
.table-graph-bottom-each-main-div.inactive .index-strategy-head-radio {
    display: none;
}
.table-graph-bottom-each-main-div.inactive,
.table-graph-bottom-each-main-div.inactive1 {
    box-shadow: none;
    border-color: transparent;
    border-radius: 0;
}
.table-graph-bottom-each-main-div.inactive .table-graph-bottom-content-div,
.table-graph-bottom-each-main-div.inactive1 .table-graph-bottom-content-div {
    display: none;
}
.table-graph-bottom-content-div {
    margin: 5px 0 22px 0;
}
.table-graph-bottom-content-div p {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 8px 20px;
}
.table-graph-bottom-content-div p.table-blue-clr {
    color: #1660a4;
}
.table-graph-bottom-content-div p.table-green-clr {
    color: #147d64;
}
.table-graph-bottom-content-div .row div:nth-of-type(2) p {
    padding-left: 50px;
    padding-right: 10px;
}
.table-graph-bottom-content-div p.highlighted {
    color: #dd3611;
}
.index-strategy-head-radio .tooltips img,
.table-graph-bottom-content-div p .tooltips img {
    cursor: pointer;
}
.index-strategy-head-radio .tooltips,
.table-graph-bottom-content-div p .tooltips {
    position: relative;
    top: -3px;
}
.index-strategy-head-radio .tooltips span,
.table-graph-bottom-content-div p .tooltips span {
    display: none;
    position: absolute;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0.5px 3px 0px rgba(0, 0, 0, 0.25);
    width: 180px;
    z-index: 1;
    top: -100%;
    left: 50%;
    transform: translate(-50%, calc(-100% + 19px));
    padding: 10px;
    color: #000;
    font-size: 11px;
    font-weight: 500;
}
.index-strategy-head-radio .tooltips:hover span,
.table-graph-bottom-content-div p .tooltips:hover span {
    display: block;
}
.index-strategy-head-radio .tooltips {
    top: 0px;
    left: -2px;
}
.index-strategy-head-radio .tooltips span {
    top: 75px;
}

.common-modal .modal-dialog.calc-preview-modal {
    max-width: 975px !important;
    margin: 1.5rem auto 1.5rem auto !important;
    height: auto !important;
}
.calc-preview-modal .modal-content {
    overflow: hidden;
}

.calc-preview-modal a.calc-preview-save-run-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    background: #0e6651;
    width: 189px;
    height: 47px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: 20px auto 20px auto;
    text-decoration: none;
}
.calc-preview-modal a.calc-preview-save-run-button:hover {
    opacity: 0.8;
}
.preview-modal-close {
    position: fixed;
    right: 35px;
    top: 20px;
}
.modal-backdrop {
    opacity: 0.20000000298023224 !important;
    background: #000;
}
.canvas-graph-div {
    position: relative;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}
.canvas-graph-div canvas {
    width: 100% !important;
    height: 390px;
}
.chart-dropdown {
    position: absolute;
    min-width: 165px;
    font-size: 15px;
    pointer-events: none;
}
.chart-dropdown .tool-tip-second-main-div {
    width: 100%;
    border-radius: 5px;
    padding: 0;
    pointer-events: none;
}
.chart-dropdown.green .tool-tip-second-main-div {
    border: 3px solid #147d64;
    background: #147d64;
}
.chart-dropdown.blue .tool-tip-second-main-div {
    border: 3px solid #1660a4;
    background: #1660a4;
}
.chart-dropdown .tooltipbtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -11px;
    z-index: 1000;
    width: 20px;
    height: 20px;
    pointer-events: all;
}
.chart-dropdown .tooltipbtn svg {
    width: 100%;
    height: 100%;
}
.tooltip-head {
    padding: 4px 4px 6px 4px;
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 1;
    font-weight: 600;
}
.chart-dropdown.green .tooltip-head {
    background: #147d64;
}
.chart-dropdown.blue .tooltip-head {
    background: #1660a4;
}
.tooltip-inner-div {
    padding: 6px 10px 6px 15px;
    background: #fff;
}
.tooltip-inner-div p {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 8px;
}
.tooltip-inner-div p:last-child {
    margin-bottom: 0;
}
.sBtn-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bottom-to-top-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
    background-color: #fff;
    border: 4px solid #147d64;
    position: fixed;
    bottom: 75px;
    right: 6px;
    display: grid;
    place-items: center;
    transition: 0.25s ease-in;
}
.bottom-to-top-btn:hover {
    background-color: #147d64;
}
.bottom-to-top-btn:hover svg rect {
    fill: #fff;
}
.w-225 {
    width: 225px !important;
}
.w-250 {
    width: 250px !important;
}
.chart-dropdown.gray .tool-tip-second-main-div {
    border: 3px solid #ddd;
}
.chart-dropdown.gray .tool-tip-second-main-div {
    background-color: #ddd;
}
.chart-dropdown.gray .tooltip-head {
    background: #ddd;
}
.chart-dropdown.gray .tooltipbtn svg circle {
    stroke: #ddd;
}
.chart-dropdown.gray .tooltipbtn svg path {
    stroke: #ddd;
}
.chart-dropdown.gray .tooltip-inner-div p {
    color: #ddd;
}
.table-plus-btn {
    position: absolute;
    left: 5px;
    top: 12px;
    width: 14px;
    height: 14px;
    padding: 0;
}
.table-plus-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.25px;
    border-radius: 20px;
    left: 50%;
    top: 6px;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
.table-plus-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.25px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
}
.table-plus-btn.blue.collapsed::before {
    background-color: #1660a4;
}
.table-plus-btn.blue.collapsed::after {
    background-color: #1660a4;
}
.table-plus-btn.blue::before {
    background-color: transparent;
}
.table-plus-btn.blue::after {
    background-color: #1660a4;
}
.table-plus-btn.green.collapsed::before {
    background-color: #147d64;
}
.table-plus-btn.green.collapsed::after {
    background-color: #147d64;
}
.table-plus-btn.green::before {
    background-color: transparent;
}
.table-plus-btn.green::after {
    background-color: #147d64;
}

.table-chevron-btn {
    padding-right: 2px;
}

.table-chevron-btn.black.collapsed {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='12' viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.41797' width='8' height='2.5' rx='1.25' transform='rotate(45 2.41797 0)' fill='black'/%3E%3Crect x='8.07422' y='5.76562' width='8' height='2.5' rx='1.25' transform='rotate(135 8.07422 5.76562)' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    top: 13px;
}

.table-chevron-btn.black {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.56303 1.06185L5.32039 5.30449C4.92986 5.69501 4.92986 6.32818 5.32039 6.7187C5.71091 7.10923 6.34408 7.10923 6.7346 6.7187L10.9772 2.47606C11.3678 2.08554 11.3678 1.45237 10.9772 1.06185C10.5867 0.671325 9.95355 0.671325 9.56303 1.06185Z' fill='black'/%3E%3Cpath d='M6.7183 5.30448L2.47566 1.06184C2.08514 0.671319 1.45197 0.671319 1.06145 1.06184C0.670923 1.45237 0.670923 2.08553 1.06145 2.47606L5.30409 6.7187C5.69461 7.10922 6.32778 7.10922 6.7183 6.7187C7.10883 6.32817 7.10883 5.69501 6.7183 5.30448Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    top: 15px;
}

.table-chevron-btn.blue.collapsed {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='12' viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.41797' width='8' height='2.5' rx='1.25' transform='rotate(45 2.41797 0)' fill='rgb(22,96,164)'/%3E%3Crect x='8.07422' y='5.76562' width='8' height='2.5' rx='1.25' transform='rotate(135 8.07422 5.76562)' fill='rgb(22,96,164)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    top: 13px;
}

.table-chevron-btn.blue {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.56303 1.06185L5.32039 5.30449C4.92986 5.69501 4.92986 6.32818 5.32039 6.7187C5.71091 7.10923 6.34408 7.10923 6.7346 6.7187L10.9772 2.47606C11.3678 2.08554 11.3678 1.45237 10.9772 1.06185C10.5867 0.671325 9.95355 0.671325 9.56303 1.06185Z' fill='rgb(22,96,164)'/%3E%3Cpath d='M6.7183 5.30448L2.47566 1.06184C2.08514 0.671319 1.45197 0.671319 1.06145 1.06184C0.670923 1.45237 0.670923 2.08553 1.06145 2.47606L5.30409 6.7187C5.69461 7.10922 6.32778 7.10922 6.7183 6.7187C7.10883 6.32817 7.10883 5.69501 6.7183 5.30448Z' fill='rgb(22,96,164)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    top: 15px;
}

.table-chevron-btn.green.collapsed {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='12' viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.41797' width='8' height='2.5' rx='1.25' transform='rotate(45 2.41797 0)' fill='rgb(20, 125, 100)'/%3E%3Crect x='8.07422' y='5.76562' width='8' height='2.5' rx='1.25' transform='rotate(135 8.07422 5.76562)' fill='rgb(20, 125, 100)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    top: 13px;
}

.table-chevron-btn.green {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.56303 1.06185L5.32039 5.30449C4.92986 5.69501 4.92986 6.32818 5.32039 6.7187C5.71091 7.10923 6.34408 7.10923 6.7346 6.7187L10.9772 2.47606C11.3678 2.08554 11.3678 1.45237 10.9772 1.06185C10.5867 0.671325 9.95355 0.671325 9.56303 1.06185Z' fill='rgb(20, 125, 100)'/%3E%3Cpath d='M6.7183 5.30448L2.47566 1.06184C2.08514 0.671319 1.45197 0.671319 1.06145 1.06184C0.670923 1.45237 0.670923 2.08553 1.06145 2.47606L5.30409 6.7187C5.69461 7.10922 6.32778 7.10922 6.7183 6.7187C7.10883 6.32817 7.10883 5.69501 6.7183 5.30448Z' fill='rgb(20, 125, 100)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    top: 15px;
}

.table-chevron-btn.white.collapsed {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='12' viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.41797' width='8' height='2.5' rx='1.25' transform='rotate(45 2.41797 0)' fill='white'/%3E%3Crect x='8.07422' y='5.76562' width='8' height='2.5' rx='1.25' transform='rotate(135 8.07422 5.76562)' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    top: 13px;
}

.table-chevron-btn.white {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.56303 1.06185L5.32039 5.30449C4.92986 5.69501 4.92986 6.32818 5.32039 6.7187C5.71091 7.10923 6.34408 7.10923 6.7346 6.7187L10.9772 2.47606C11.3678 2.08554 11.3678 1.45237 10.9772 1.06185C10.5867 0.671325 9.95355 0.671325 9.56303 1.06185Z' fill='white'/%3E%3Cpath d='M6.7183 5.30448L2.47566 1.06184C2.08514 0.671319 1.45197 0.671319 1.06145 1.06184C0.670923 1.45237 0.670923 2.08553 1.06145 2.47606L5.30409 6.7187C5.69461 7.10922 6.32778 7.10922 6.7183 6.7187C7.10883 6.32817 7.10883 5.69501 6.7183 5.30448Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    top: 15px;
}

/* Tax Score Card */
.index-strategy-head-div.tax-scorcard h1::before {
    left: 58px;
}
.index-strategy-inputs-div label span.optional-label {
    color: #a1a1a1;
    font-size: 10px;
    font-weight: 600;
}
.task-risk-analysis-main-div {
    padding-inline: 40px;
    border-top: 1.25px solid #dfdfdf;
    padding: 20px 64px 0;
}
.task-risk-analysis-main-div .tax-risk-setting-btn {
    cursor: pointer;
}
.task-risk-analysis-main-div .tax-risk-each-card-row .card-inner-div {
    padding: 20px;
}

.task-risk-analysis-main-div .tax-risk-each-card-row .card-inner-div .each-card-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.task-risk-analysis-main-div .tax-risk-each-card-row .card-inner-div .each-card-row:last-child {
    margin-bottom: 0;
}

.tax-risk-each-card-row .card-inner-div .each-card-row .left-text {
    color: #000;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.tax-risk-each-card-row .card-inner-div .each-card-row .right-text {
    color: #000;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.tax-risk-each-card-row .card-inner-div .each-card-row .left-text.total {
    font-weight: 700;
}

.tax-risk-each-card-row .card-inner-div .each-card-row .right-text.total {
    font-weight: 700;
}

.tax-risk-each-card {
    border-radius: 12px;
    border: 1px solid #dfdfdf;
    background: #fff;
    box-shadow: 0px 0.25px 3px 0px rgba(0, 0, 0, 0.25);
    height: 100%;
}

.task-risk-analysis-main-div .heading-para-tax-risk {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 5px;
    width: 100%;
    background-color: #147d64;
    margin: 0;
    text-align: center;
    border-radius: 12px;
}
.task-risk-analysis-main-div .heading-para-tax-risk.card1 {
    background-color: #147d64;
}
.task-risk-analysis-main-div .heading-para-tax-risk.card2 {
    background-color: #1660a4;
}
.tax-details-graph-main-div {
    padding: 30px 48px 20px;
    margin-top: 30px;
    border-radius: 12px;
    border: 1px solid #dfdfdf;
    box-shadow: 0px 0.25px 3px 0px rgba(0, 0, 0, 0.25);
}
.tax-details-tab-ul {
    max-width: 650px;
    width: 100%;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0px 0.25px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    flex-wrap: nowrap;
    margin-bottom: 11px;
    margin-inline: auto;
}
.tax-details-tab-ul li {
    width: 100%;
}
.tax-details-tab-ul li button {
    display: block;
    box-shadow: none !important;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 50px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}
.mltplSwtchDiv.taxRisk div {
    font-size: 12px;
}
.mltplSwtchDiv.blue div.active {
    border: 1.5px solid #1660a4;
    color: #1660a4;
}
.mltplSwtchDiv.compare div.active {
    border: 1.5px solid #3c3c3c;
    color: #3c3c3c;
}
.tax-details-tab-ul li button.active {
    background: #0e6651;
    color: #fff;
}
.tax-details-tab-ul li button.active.rothTaxTav {
    background: #1660a4;
}
.tax-details-tab-ul li button.active.comparePathTab {
    background: #3c3c3c;
}
.each-tax-details-bar {
    margin-top: 10px;
}
.each-tax-details-bar .heading {
    position: relative;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}
.each-tax-details-bar .heading::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 10px;
    left: 0;
    bottom: 0;
}
.each-tax-details-bar .heading.clr1::before {
    background: #25967b;
}
.each-tax-details-bar .heading.clr2::before {
    background: #287bc7;
}
.each-tax-details-bar .heading.clr3::before {
    background: #9453c8;
}
.each-tax-details-bar .heading.clr4::before {
    background: #f67f4c;
}
.each-tax-details-bar .heading.clr5::before {
    background: #c04141;
}
.each-tax-details-bar .heading.clr6::before {
    background: #bab42c;
}
.tax-details-each-bars {
    border-radius: 5px;
    border: 1.25px solid #dfdfdf;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 12px;
    color: #000;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 600;
    min-height: 42px;
    transition: 0.3s width ease-in-out;
}
.amount-label-wrapper {
    transition: 0.35s ease-in-out;
}
.tax-details-each-bars.barClr1 {
    background: #0e6651;
}
.tax-details-each-bars.barClr2 {
    background: #1660a4;
}
.tax-details-each-bars.barClr3 {
    background: #763ca3;
}
.tax-details-each-bars.barClr4 {
    background: #e8662f;
}
.tax-details-each-bars.barClr5 {
    background: #9d2b2b;
}
.advance .barClr5 {
    position: relative;
    background-color: rgba(157, 43, 43, 0.57);
}
.advance .dark-bar-2 {
    position: absolute;
    left: 0%;
    height: 100%;
    top: 0;
    background-color: #9d2b2b;
    border-radius: 5px 0 0 5px;
}
.tax-details-each-bars.barClr6 {
    background: #bab42c;
}
.advance .barClr6 {
    position: relative;
    background-color: rgba(186, 180, 44, 0.57);
}
.advance .barClr5 label,
.advance .barClr6 label {
    z-index: 3;
}
.advance .dark-bar-1 {
    position: absolute;
    left: 0%;
    height: 100%;
    top: 0;
    background-color: #bab42c;
    border-radius: 5px 0 0 5px;
}
.common-modal .modal-dialog.tax-score-preview-modal {
    max-width: 975px !important;
    margin: 1.5rem auto !important;
    height: auto !important;
}
.common-modal .modal-dialog.tax-score-preview-modal .modal-content {
    background-color: transparent;
}
.common-modal .index-strategy-inputs-div {
    padding-bottom: 60px;
}
.common-modal .run-reset-btn-div {
    padding-bottom: 40px !important;
}
.index-strategy-table tbody tr td:nth-child(3) {
    word-break: break-word;
}
.tax-score-disclosure {
    margin-top: 15px;
    font-size: 12px;
    text-align: justify;
}
.form-heading {
    color: #147d64;
    font-weight: 600;
}
.mw-325 {
    max-width: 325px;
}
.show-next-btn {
    background: var(--green-clr);
    border: 1px solid var(--green-clr);
    border-radius: 1000px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 12px;
    font-size: 16px;
    font-weight: 600;
}
.show-next-btn:hover {
    color: #fff;
    background: var(--green-clr-2);
}
.show-next-btn.disabled {
    background: #dfdfdf;
    border-color: transparent;
}
#taxScorecardModal {
    margin-left: 170px;
}
body.wider #taxScorecardModal {
    margin-left: 50px;
}
.show-bonus-switch {
    position: absolute;
    right: 0.75rem;
    top: 8px;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.show-bonus-switch label {
    font-size: 15px;
}
.show-bonus-switch .form-check-input {
    margin-left: 0.5rem;
    height: 18px !important;
}
.show-bonus-switch .form-check-input:checked,
.custom-switch .form-check-input:checked:focus {
    border: 0;
    background-color: #1660a4 !important;
}
.comparePathTabVsDiv {
    position: relative;
    background-color: #3c3c3c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    padding: 8px 15px;
    margin-top: 20px;
}

.comparePathTabVsDiv span {
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
}
.comparePathTabVsDiv span.vs-text{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50% , -50%);
}
.progressBarDIvsArea {
    margin-top: 20px;
}
.eachProgressBarDiv {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 10px;
}
.eachProgressBarDiv .compareLeftPart {
    width:38%;
}
.eachProgressBarDiv .compareRightPart {
    width:38%;
}
.eachProgressBarDiv .tax-details-each-bars {
  width: 0;
}
.eachProgressBarDiv .compareLeftPart .tax-details-each-bars {
    position: relative;
    margin-left: auto;
    text-align: right;
    padding-inline: 5px;
}
.eachProgressBarDiv .compareLeftPart .tax-details-each-bars label{
    direction: rtl;
    display: block;
}
.eachProgressBarDiv .compareLeftPart .tax-details-each-bars label span{
padding-right: 12px;
}
.eachProgressBarDiv .compareRightPart .tax-details-each-bars label span{
padding-left: 12px;
margin-left: -12px;
}

.eachProgressBarDiv .compareRightPart .tax-details-each-bars label{
    position: relative;
    padding-left: 8px;
    z-index: 2;
    }
.eachProgressBarDiv .compareRightPart .tax-details-each-bars {
    position: relative;
    padding-inline: 5px;
}
.eachProgressBarDiv .tax-details-each-bars::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 8px;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    right: -13px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}
.eachProgressBarDiv .compareRightPart .tax-details-each-bars::before {
    left: -13px;
    transform: translateY(-50%) rotate(90deg);
}
.eachProgressBarDiv .tax-details-each-bars.barClr1::before {
    border-top: 8px solid #0e6651;
}
.eachProgressBarDiv .tax-details-each-bars.barClr2::before {
    border-top: 8px solid #1660a4;
}
.eachProgressBarDiv .tax-details-each-bars.barClr3::before {
    border-top: 8px solid #763ca3;
}
.eachProgressBarDiv .tax-details-each-bars.barClr4::before {
    border-top: 8px solid #e8662f;
}
.eachProgressBarDiv .tax-details-each-bars.barClr5::before {
    border-top: 8px solid #9d2b2b;
}
.eachProgressBarDiv .tax-details-each-bars.barClr6::before {
    border-top: 8px solid #bab42c;
}

.eachProgressBarDiv .compareMiddlePart {
    width: 24%;
    text-align: center;
}
.eachProgressBarDiv .compareMiddlePart span{
    position: relative;
    white-space: nowrap;
    text-align: center;
    color: #000;
font-size: 16px;
font-weight: 600;
}
.eachProgressBarDiv .compareMiddlePart span::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: transparent;
}
.eachProgressBarDiv .compareMiddlePart.barClr1 span::before {
    background-color:  #0e6651;
}
.eachProgressBarDiv .compareMiddlePart.barClr2 span::before {
    background-color:  #1660a4;
}
.eachProgressBarDiv .compareMiddlePart.barClr3 span::before {
    background-color:  #763ca3;
}
.eachProgressBarDiv .compareMiddlePart.barClr4 span::before {
    background-color:  #e8662f;
}
.eachProgressBarDiv .compareMiddlePart.barClr5 span::before {
    background-color:  #9d2b2b;
}
.eachProgressBarDiv .compareMiddlePart.barClr6 span::before {
    background-color:  #bab42c;
}
@media (max-width: 1300px) {
    .eachProgressBarDiv .compareLeftPart {
        width: 35%;
    }
    .eachProgressBarDiv .compareRightPart {
        width: 35%;
    }
    .eachProgressBarDiv .compareMiddlePart {
        width: 30%;
    }
}

.compareBottomDivs{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5%;
    margin-top: 30px;
}
.compareBottomDivs .compareBottomEachDiv{
width: 100%;
border-radius: 12px;
border: 1px solid #DFDFDF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
text-align: center;
}
.compareBottomDivs .compareBottomEachDiv p{
    border-radius: 12px 12px 0px 0px;
    background: #147D64;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 15px;
    position: relative;
    top: -2px;
    width: calc(100% + 4px);
    left: -2px;
}
.compareBottomDivs .compareBottomEachDiv .priceDiv{
    padding: 20px 15px;
    color: #000;
font-size: 16px;
font-weight: 600;
}
.compareBottomProgreesBar{
    border-radius: 5px;
border: 1.25px solid #DFDFDF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #A0A0A0;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.compareBottomInnerProgreesBar{
padding:8px 2px;
background-color: #3C3C3C;
margin-left: auto;
}
.compateBottomProgressDiv{
    padding: 10px 15px;
}
.compareBottomInnerProgreesBar label{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 600;
}
.eachProgressBarDiv .tax-details-each-bars .nested-progress-bar-main-div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.eachProgressBarDiv .tax-details-each-bars.barClr5 .nested-progress-bar-main-div .nested-progress-bar{
    height: 100%;
    background-color: #9d2b2b;
}
.eachProgressBarDiv .tax-details-each-bars.barClr6 .nested-progress-bar-main-div .nested-progress-bar{
    height: 100%;
    background-color: #bab42c;
}
.mx-wid-fit-content{
    max-width: fit-content;
}

.table-graph-bottom-content-div .row.highlighted {
    background-color: #1660a4;
}

.table-graph-bottom-content-div .row.highlighted p {
    color: white;
}

.table-graph-bottom-each-main-div .blueClr ~ .table-graph-bottom-content-div .row.highlighted:hover p {
    color: black;
}
