:root {
  --blue-clr: #004885;
  --blue-clr-2: #23669E;
}
/*  */
.light-blue .navbar-brand .logo-blue{
  display: block;
}
.light-blue .navbar-brand .logo-green{
  display: none;
}
.light-blue .navbar-brand .logo-dark{
  display: none;
}
.light-blue .sidebar-nav .nav-link {
  background-color: var(--blue-clr-2);
  color: #fff;
  border: 1px solid transparent;
}
.light-blue .otherModecls svg circle {
  stroke: #ABD5F9;
}
.light-blue .otherModecls svg path {
  fill: #ABD5F9;
}
.light-blue .otherModecls svg rect {
  fill: #ABD5F9;
}
.light-blue .sidebar-nav .nav-link:hover .otherModecls svg circle {
  stroke: #ABD5F9;
}
.light-blue .sidebar-nav .nav-link:hover .otherModecls svg path {
  fill: #ABD5F9;
}
.light-blue .compGraphSmallBdrClr2 p{
  background: #089875;
}
.light-blue .sidebar-nav .nav-link:hover .otherModecls svg rect {
  fill: #ABD5F9;
}
.light-blue .sidebar-nav .nav-link:hover {
  background-color: var(--blue-clr);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.light-blue .sidebar-nav .nav-link.active {
  background-color: #fff;
  font-weight: var(--semi-bold-fw);
  color: #000;
}
.light-blue .sidebar-nav .nav-link.active .otherModecls svg circle {
  stroke: #000000;
}
.light-blue .sidebar-nav .nav-link.active .otherModecls svg path {
  fill: #000000;
}
.light-blue .sidebar-nav .nav-link.active .otherModecls svg rect {
  fill: #000000
}
.light-blue .sidebar-nav .nav-link.active:hover {
  background-color: rgba(255, 255, 255, 0.95);
}
.light-blue .new-btn {
  background-color: var(--blue-clr);
  color: #fff;
}

.light-blue .sort-dropdown-div .dropdown-menu .dropdown-item.active {
  color: currentColor;
  background: #ABD5F9;
  border: 1px solid var(--blue-clr);
}
.light-blue .light-blue .illustrationPdfDiv span {
  color: var(--blue-clr);
}
.light-blue .light-blue .twoBtnSwtchMainDiv div.active {
  background: var(--blue-clr);
  color: #FFFFFF;
}
.light-blue .indexStrategyBorder p {
  background: var(--blue-clr);
}
.light-blue .indexStrategyallDivs.active {
  background: var(--blue-clr);
}
.light-blue .indexStrategyallDivs.active.accordion-button:not(.collapsed) {
  background: var(--blue-clr);
}
.light-blue .formParabrdrLavelDiv p:last-child {
  background: var(--blue-clr);
}
.light-blue .ChooseTimePeriodInputs label input:checked~.timePeriodYear {
  border: 1.5px solid var(--blue-clr);
}
.light-blue .IndexStrategyBtn [type="radio"]:checked+label {
  background: var(--blue-clr);
  color: white;
}
.light-blue .skipScenarioBtn {
  color: var(--blue-clr);
}
.light-blue #range1::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress1), #E9E9E9 var(--range-progress1));
}
.light-blue #range1::-moz-range-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress1), #E9E9E9 var(--range-progress1));
}
.light-blue #range1::-webkit-slider-thumb {
  background: var(--blue-clr);
}
.light-blue #range1::-moz-range-thumb {
  background: var(--blue-clr);
  border: 1px solid var(--blue-clr);
}
.light-blue #tooltip1 span {
  color: var(--blue-clr);
}
.light-blue #range2::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress2), #E9E9E9 var(--range-progress2));
}
.light-blue #range2::-moz-range-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress2), #E9E9E9 var(--range-progress2));
}
.light-blue #range2::-webkit-slider-thumb {
  background: var(--blue-clr);
}
.light-blue #range2::-moz-range-thumb {
  background: var(--blue-clr);
  border: 1px solid var(--blue-clr);
}
.light-blue #tooltip2 span {
  color: var(--blue-clr);
}
.light-blue #range3::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress3), #E9E9E9 var(--range-progress3));
}
.light-blue#range3::-moz-range-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress3), #E9E9E9 var(--range-progress3));
}
.light-blue #range3::-webkit-slider-thumb {
  background: var(--blue-clr);
}
.light-blue #range3::-moz-range-thumb {
  background: var(--blue-clr);
  border: 1px solid var(--blue-clr);
}
.light-blue #tooltip3 span {
  color: var(--blue-clr);
}
.light-blue #range4::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress4), #E9E9E9 var(--range-progress4));
}
.light-blue #range4::-moz-range-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress4), #E9E9E9 var(--range-progress4));
}
.light-blue #range4::-webkit-slider-thumb {
  background: var(--blue-clr);
}
.light-blue #range4::-moz-range-thumb {
  background: var(--blue-clr);
  border: 1px solid var(--blue-clr);
}
.light-blue #tooltip4 span {
  color: var(--blue-clr);
}
.light-blue #range5::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress5), #E9E9E9 var(--range-progress5));
}
.light-blue #range5::-moz-range-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress5), #E9E9E9 var(--range-progress5));
}
.light-blue #range5::-webkit-slider-thumb {
  background: var(--blue-clr);
}
.light-blue #range5::-moz-range-thumb {
  background: var(--blue-clr);
  border: 1px solid var(--blue-clr);
}
.light-blue #tooltip5 span {
  color: var(--blue-clr);
}
.light-blue #range6::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress6), #E9E9E9 var(--range-progress6));
}
.light-blue #range6::-moz-range-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress6), #E9E9E9 var(--range-progress6));
}
.light-blue #range6::-webkit-slider-thumb {
  background: var(--blue-clr);
}
.light-blue #range6::-moz-range-thumb {
  background: var(--blue-clr);
  border: 1px solid var(--blue-clr);
}
.light-blue #tooltip6 span {
  color: var(--blue-clr);
}
.light-blue #range7::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress7), #E9E9E9 var(--range-progress7));
}
.light-blue #range7::-moz-range-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress7), #E9E9E9 var(--range-progress7));
}
.light-blue #range7::-webkit-slider-thumb {
  background: var(--blue-clr);
}
.light-blue #range7::-moz-range-thumb {
  background: var(--blue-clr);
  border: 1px solid var(--blue-clr);
}
.light-blue #tooltip7 span {
  color: var(--blue-clr);
}
.light-blue #range8::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress8), #E9E9E9 var(--range-progress8));
}
.light-blue #range8::-moz-range-track {
  background: linear-gradient(90deg, var(--blue-clr) var(--range-progress8), #E9E9E9 var(--range-progress8));
}
.light-blue #range8::-webkit-slider-thumb {
  background: var(--blue-clr);
}
.light-blue .light-blue #range8::-moz-range-thumb {
  background: var(--blue-clr);
  border: 1px solid var(--blue-clr);
}
.light-blue #tooltip8 span {
  color: var(--blue-clr);
}
.light-blue .enhancementFixedSheduleBtn div.active {
  background: var(--blue-clr);
  color: white;
}
.light-blue .fixeValueYearRadio label:hover input~.fixedStartYear {
  background: var(--blue-clr);
  border: 1.5px solid var(--blue-clr);
  color: white;
}
.light-blue .fixeValueYearRadio label input:checked~.fixedStartYear {
  background: var(--blue-clr);
  color: white;
  border: 1.5px solid var(--blue-clr);
}
.light-blue .feesRadioDiv label:hover input~.fixedStartYear {
  background: var(--blue-clr);
  border: 1.5px solid var(--blue-clr);
  color: white;
}
.light-blue .feesRadioDiv label input:checked~.fixedStartYear {
  background: var(--blue-clr);
  color: white;
  border: 1.5px solid var(--blue-clr);
}
.light-blue .strategyWeight .mainResizeDiv {
  background: var(--blue-clr);
  color: white;
}
.light-blue .strategyWeight .mainResizeDiv:first-child {
  background: var(--blue-clr);
}
.light-blue .strategyWeight .mainResizeDiv:last-child {
  background: var(--blue-clr);
}
.light-blue .AdtnlCmprtVhclBtn {
  color: var(--blue-clr);
  background: #FFFFFF;
  border: 1.5px solid var(--blue-clr);
}
.light-blue .AdtnlCmprtVhclBtn:hover {
  color: #ffffff;
  background: var(--blue-clr);
  border: 1.5px solid var(--blue-clr);
}
.light-blue .green-clr {
  color: var(--blue-clr);
}
.light-blue .green-bg {
  background-color: var(--blue-clr);
}
.light-blue .sidebar {
  background-color: var(--blue-clr);
}
.light-blue .sidebar-nav .nav-link:hover {
  background-color: var(--blue-clr);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.light-blue .main-tab-heading::before {
  background-color: var(--blue-clr);
}
.light-blue .client-list-ul .client-name:hover .nav-link {
  color: var(--blue-clr);
}
.light-blue .right-action-btn-div .plus-sign {
  background-color: var(--blue-clr);
  position: absolute;
  color: #fff;
}
.light-blue .list-item .list-item-detail p::before {
  background-color: var(--blue-clr);
  color: #fff;
}
.light-blue .report-round-btn span {
  color: #000000;
}
.light-blue .report-round-btn:hover span {
  color: #ffffff
}
.light-blue .list-item-actions .scenario-add-report-btn {
  background-color: var(--blue-clr);
  color: #fff;
}
.light-blue .round-btn:hover {
  background-color: var(--blue-clr);
  color: #fff;
}
.light-blue .report-round-btn.collapsed:hover {
  background-color: var(--blue-clr);
  color: #fff;
}
.light-blue .common-modal .yes-delete-btn {
  background-color: var(--blue-clr);
  color: #fff;
}
.light-blue .large-add-btn span {
  background-color: var(--blue-clr);
  color: #fff;
}
.light-blue .large-add-btn span:hover {
  background-color: var(--blue-clr-2);
  color: #fff;
}
.light-blue .offcanvTopDiv {
  background: var(--blue-clr);
}
.light-blue .offcanBtnDiv .SaveAddBtn {
  background: var(--blue-clr);
  border: 1.5px solid var(--blue-clr);
  border-radius: 8px;
  padding: 0.7rem 0;
  color: #ffffff;
}
.light-blue .offcanBtnDiv .SaveAddBtn:hover {
  background: #FFFFFF;
  color: var(--blue-clr);
}
.light-blue .SaveAddBtn.btnDisabled {
  background: #EDEDED;
  border: 1.5px solid #EDEDED;
  color: #A0A0A0;
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.light-blue .offcanBtnDiv .SaveclsBtn {
  background: #FFFFFF;
  border: 1.5px solid var(--blue-clr);
  border-radius: 8px;
  padding: 0.7rem 0;
  color: var(--blue-clr);
}
.light-blue .offcanBtnDiv .SaveclsBtn:hover {
  background: var(--blue-clr);
  color: #ffffff;
}
.light-blue .SaveclsBtn.btnDisabled {
  background: #FFFFFF;
  border: 1.5px solid #A0A0A0;
  color: #A0A0A0;
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.light-blue .form-subheading::before {
  background-color: var(--blue-clr);
}
.light-blue .form-next-btn:hover {
  color: var(--blue-clr);
}
.light-blue .form-next-btn:focus,
.light-blue .form-next-btn.active {
  background-color: var(--blue-clr);
  color: #fff;
}
.light-blue .custom-switch .form-check-input:checked,
.light-blue .custom-switch .form-check-input:checked:focus {
  border: 0;
  background-color: var(--blue-clr);
}
.light-blue .drag-drop-heading::before {
  background-color: var(--blue-clr);
}
.light-blue #reviewProgress li.active,
.light-blue #reviewProgress li.done,
.light-blue #reviewProgress li.working {
  color: var(--blue-clr);
}
.light-blue #reviewProgress li.working:before {
  content: counter(progressCounter);
  background-color: var(--blue-clr);
  color: #ffffff;
}
.light-blue#reviewProgress li.done:after,
.light-blue #reviewProgress li.active:before,
.light-blue #reviewProgress li.active:after,
.light-blue #reviewProgress li.working:before,
.light-blue #reviewProgress li.working:after {
  background: var(--blue-clr);
}
.light-blue .compVehcleBorder {
  background: var(--blue-clr);
}
.light-blue .historyHead2 p {
  color: var(--blue-clr);
}
.light-blue .historyHead2 .hisBorder {
  background: var(--blue-clr);
}
.light-blue .summaryMainDiv h5 {
  color: var(--blue-clr);
}
.light-blue .summarySmallBorder {
  background: var(--blue-clr);
}
.light-blue .summary-editBox {
  background: #FFF;
  border: 1px solid #E3E3E3;
  border-top: 8px solid var(--blue-clr);
}
.light-blue .summary-heading p {
  color: var(--blue-clr);
}
.light-blue .historicalSelectField:focus {
  border: 1.25px solid var(--blue-clr);
}
.light-blue .customAmountInputDiv input:focus {
  border: 1.5px solid var(--blue-clr);
}
.light-blue .innerTableInputTd input:focus,
.light-blue .innerTableInputTd input:hover {
  border: 1.5px solid var(--blue-clr);
}
.light-blue .innerTableInputTd input:focus,
.light-blue .innerTableInputTd input:hover {
  border: 1.5px solid var(--blue-clr);
}
.light-blue .amountInnerTableInputTd input:focus,
.light-blue .amountInnerTableInputTd input:hover {
  border: 1.5px solid var(--blue-clr);
}
.light-blue .darkmodecls {
  color: var(--blue-clr-3);
}
.light-blue .darkmodecls svg path {
  fill: var(--blue-clr-3);
}
.light-blue .client-icon-offcanvas circle {
  fill: rgba(247, 247, 247, 0.24);
}
.light-blue .client-icon-offcanvas ellipse {
  fill: var(--blue-clr-2);
}
.light-blue .dark-user-logo-icon ellipse {
  fill: #ffffff;
}
.light-blue .dark-user-logo-icon circle {
  fill: var(--blue-clr-2);
}
.light-blue .sort-dropdown-div .dropdown-menu .dropdown-item.active::after {
  content: url(../images/icons/check-blue.svg);
  position: absolute;
  right: 0.85rem;
}
.light-blue .comparative-vehicle-tab-wrapper .comparative-vehicle-tabs .nav-item .nav-link.activeOnly {
  color: var(--blue-clr);
}
/*.light-blue .comparative-vehicle-tab-wrapper .comparative-vehicle-tabs .nav-item .nav-link .form-check-input{
  
} */
.light-blue .comparative-vehicle-tab-wrapper .comparative-vehicle-tabs .nav-item .nav-link.activeOnly .form-check-input {
  background-color: var(--blue-clr);
}
.light-blue .comparative-vehicle-tab-wrapper .comparative-vehicle-tabs .nav-item .nav-link.active .form-check-input {
  background-color: #fff;
}
.light-blue .comparative-vehicle-tab-wrapper .comparative-vehicle-tabs .nav-item .nav-link.active {
  color: #fff;
  background: var(--blue-clr);
}
.light-blue .comparative-vehicle-tab-wrapper .comparative-vehicle-tabs .nav-item .nav-link.active .form-check-input {
  background-image: url("../images/icons/blue-radio.svg");
  background-size: 24px;
  background-position: right .75px center;
}
.light-blue .twoBtnSwtchMainDiv {
  background: #FFFFFF;
  box-shadow: 0px 0.25px 2px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  display: flex !important;
  align-items: center;
  padding: 4px;
  overflow: hidden;
  flex-wrap: unset;
}
.light-blue .twoBtnSwtchMainDiv div {
  background: #FFFFFF;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #000000;
  padding: 14px;
  border-radius: 100px;
  cursor: pointer;
}
.light-blue .twoBtnSwtchMainDiv div.active {
  background: var(--blue-clr);
  color: #FFFFFF;
}
.light-blue .boxTickImage circle {
  fill: transparent;
  stroke: #ABD5F9;
}
.light-blue .boxTickImage rect {
  stroke: #ABD5F9;
}
.light-blue .indexStrategyallDivs.active .indexStrategyheadBrdr div {
  background: #5BB3FF;
}
.light-blue .historical-yes-div svg rect {
  fill: #004885;
}
.light-blue .historical-no-div svg rect {
  fill: #004885 !important;
}
/* report buider css start */
/* Review summary start */
/*reviewProgress*/
.light-blue .editBtnCommon svg rect {
  fill: none;
  stroke: #004885;
}
.light-blue .editBtnCommon svg path {
  fill: #004885;
  stroke: #004885;
}
.light-blue .editBtnCommon {
  background: transparent;
  border: 1px solid #DFDFDF;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.light-blue .editBtnCommon:hover {
  background: #004885;
  border: 1px solid #004885;
}
.light-blue .editBtnCommon:hover svg rect {
  fill: none;
  stroke: #ffffff;
}
.light-blue .editBtnCommon:hover svg path {
  fill: #ffffff;
  stroke: #ffffff;
}
.light-blue .summary-heading p span {
  color: #004885;
  opacity: 0.2;
}
.light-blue .summaryMainDiv h5 {
  color: var(--blue-clr);
}
.light-blue .summarySmallBorder {
  background: var(--blue-clr);
}
.light-blue .summary-editBox {
  border-top: 8px solid var(--blue-clr);
}
.light-blue .summary-heading p {
  color: var(--blue-clr);
}
.light-blue .illustrationPdfDiv span {
  color: var(--blue-clr);
}
.darkmodeMainBody .illustrationPdfDiv svg rect {
  fill: none;
  stroke: var(--blue-clr);
}
/* responsive end*/
.light-blue .compVehcleBorder {
  background: var(--blue-clr);
}
.light-blue .historyHead2 p {
  color: var(--blue-clr);
}
.light-blue .historyHead2 .hisBorder {
  background: var(--blue-clr);
}
.light-blue .SaveCloseButton button {
  background: var(--blue-clr);
}
.light-blue .SaveCloseButton button:hover {
  background: var(--blue-clr);
  color: #ffffff;
}
.light-blue .BuildSaveCloseButton button:hover {
  border: 1px solid var(--blue-clr);
  color: var(--blue-clr);
}
/* Review summary end */
/* Roport Builder start*/
.light-blue .sidebar-arrow svg rect {
  fill: var(--blue-clr);
  stroke: var(--blue-clr);
}
.light-blue .sidebar-arrow {
  border: 1.5px solid var(--blue-clr);
}
.light-blue .presentationModeBtn {
  background: var(--blue-clr);
  border: 1px solid var(--blue-clr);
}
.light-blue .presentationModeBtn:hover {
  background: #ffffff;
  color: var(--blue-clr);
  border: 1px solid var(--blue-clr);
}
.light-blue .presentationModeBtn:hover svg rect {
  stroke: var(--blue-clr);
}
.light-blue .reportBuilderLft1 {
  background: #004885;
}
.light-blue .reportBuilderLftSwtch {
  background: #23669E;
}
.light-blue .reportBuilderLft2 {
  background: var(--blue-clr);
}
.light-blue .reportBuilderLftInner {
  background: #23669E;
}
.light-blue .reportBuilderLftInner.active {
  background: #FFFFFF;
}
.light-blue .layer {
  background-color: var(--blue-clr);
}
/* Button 1 */
.light-blue #button-1 .knobs:before {
  background-color: #4BADFF;
}
.light-blue #button-1 .checkbox:checked~.layer {
  background-color: var(--blue-clr);
}
.light-blue .ComparativeTableMainDiv.active {
  border-top: 10px solid var(--blue-clr);
}
/* Right radio button */
/* Button 1 */
.light-blue #button-2 .checkbox2:checked~.layer2 {
  background-color: var(--blue-clr);
}
.light-blue .SwtchBtnRprtBldr div.active {
  background: var(--blue-clr);
}
.light-blue .mltplSwtchDiv div.active {
  border: 1.25px solid var(--blue-clr);
  color: var(--blue-clr);
}
.light-blue .SaveCloseButton {
  display: flex;
  justify-content: center;
}
.light-blue .SaveCloseButton button {
  background: var(--blue-clr-2);
  border-radius: 1000px;
  padding: 0.5rem 3rem;
  color: #ffffff;
}
.light-blue .SaveCloseButton button:hover {
  opacity: 0.9;
  color: #ffffff;
}
.light-blue .BuildSaveCloseButton {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.light-blue .BuildSaveCloseButton button {
  border: 1px solid transparent;
  background: #FFFFFF;
  box-shadow: 0px 0.25px 3px rgba(0, 0, 0, 0.25);
  border-radius: 1000px;
  padding: 0.5rem 1.6rem;
  color: #000000;
}
.light-blue .BuildSaveCloseButton button:hover {
  border: 1px solid var(--blue-clr-2);
  color: var(--blue-clr-2);
}
.light-blue .schedule-icon-btn {
  background: transparent;
  border: 1px solid #DFDFDF;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.light-blue .schedule-icon-btn svg rect {
  stroke: var(--blue-clr-2);
}
.light-blue .schedule-icon-btn:hover {
  background: var(--blue-clr-2);
  border: 1px solid var(--blue-clr-2);
}
.light-blue .schedule-icon-btn:hover svg rect {
  stroke: #ffffff;
}
.light-blue .illustrationPdfAncor {
  text-decoration: none;
}
.light-blue .illustrationPdfDiv {
  background: transparent;
  border: 1px solid var(--blue-clr-2);
}
.light-blue .illustrationPdfDiv:hover {
  background: transparent;
  border: 1px solid var(--blue-clr-2);
}
.light-blue .illustrationPdfDiv span {
  color: var(--blue-clr-2) !important;
}
.light-blue .illustrationPdfDiv svg rect {
  fill: none;
  stroke: var(--blue-clr-2);
}
.light-blue .ScenarioLeft {
  background: #F5F5F5;
}
/* Roport Builder end*/
.light-blue .review-progress li.active .nav-link,
.light-blue .review-progress li.done .nav-link {
  color: var(--blue-clr);
}
.light-blue .review-progress li.active .nav-link:before {
  border: 3px solid transparent;
  color: white
}
.light-blue .review-progress li.done .nav-link:before {
  content: url("../images/icons/check-white.svg");
  outline: 3px solid #fff;
  background-color: var(--blue-clr);
  outline-offset: -6px;
}
.light-blue .review-progress li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #f2f2f2;
  position: absolute;
  left: -50%;
  top: 16px;
  z-index: -1;
}
.light-blue .review-progress li:first-child:after {
  display: none;
}
.light-blue .review-progress li.done:after,
.light-blue .review-progress li.active .nav-link:before,
.light-blue .review-progress li.active:after {
  background: var(--blue-clr);
}
.light-blue .theme-btn {
  background-color: #ffffff;
  border: 1px solid var(--blue-clr);
  color: var(--blue-clr);
}
.light-blue .theme-btn:hover {
  background-color: #f0f7fd;
}
.light-blue .SaveCloseButton .btn {
  background: var(--blue-clr);
}
.light-blue .comparativeAnlsysTxt::before {
  background-color: var(--blue-clr);
}
.light-blue .copyBtnModal {
  background: var(--blue-clr);
}
.light-blue .modalSmallborder {
  background: var(--blue-clr) !important;
}
.light-blue .darkmodecls {
  color: var(--blue-clr);
}
.light-blue .darkmodecls svg path {
  fill: var(--blue-clr);
}
.light-blue .clientNamePara:hover a {
  color: var(--blue-clr);
}
/* new css */
.light-blue .irrvaluebarbg3 {
  background: #30AD8F;
}
.light-blue .irrBarHeight3 {
  background: #209579;
  border-radius: 8px;
}
/*  */
.light-blue .irrvaluebarbg4 {
  background: #25967B;
}
.light-blue .irrBarHeight4 {
  background: #0E6651;
  border-radius: 8px;
}
/*  */
/* .light-blue .irrvaluebarbg1 {
  background: #0F7ADC;
}
.light-blue .irrBarHeight1 {
  background: #1A89EE;
} */
/*  */
/* .light-blue .irrvaluebarbg2 {
  background: #287BC7;
}
.light-blue .irrBarHeight2 {
  background: #1660A4;
} */
/*  */
.light-blue .lifeProEditBtn rect,
.light-blue .lifeProEditBtn path {
  stroke: #1660A4;
  fill: transparent;
}
.light-blue .lifeProPlusPara1 {
  color: #004885;
}
.light-blue .lifeProBtmDiv1 p {
  color: #004885;
}
.light-blue .reportTablesDiv3 table thead th {
  background: #004885 !important;
}
.light-blue .reportTablesDiv3 .table th {
  border-left-color: #2977BF;
}
.light-blue .switch1 .editBtnAccount svg rect,
.light-blue .switch1 .editBtnAccount svg path,
.light-blue .switch1 .deleteBtnAccount svg path {
  stroke: #0E6651;
}
.light-blue .switch1 .deleteBtnAccount svg rect {
  fill: #0E6651;
}
.light-blue .switch1 .editBtnAccount, .light-blue .switch1 .deleteBtnAccount{
  color: #0E6651;
}
.light-blue .lifeProPlusPara3 {
  color: #089875;
}
.light-blue .lifeProBtmDiv2 p {
  color: #089875;
}
.light-blue .reportTablesDiv4 table thead th {
  background: #089875! important;
}
.light-blue .reportTablesDiv4 .table th {
  border-left-color: #2C997E! important;
}
.light-blue .commonTableCls .editBtnAccount svg rect,
.light-blue .commonTableCls .editBtnAccount svg path,
.light-blue .commonTableCls .deleteBtnAccount svg path {
  stroke: #cdcdcd;
}
.light-blue .commonTableCls .deleteBtnAccount svg rect {
  fill: #cdcdcd;
}
.light-blue .commonTableCls .reportTablesDiv4 .table th {
  border-left-color: #DFDFDF;
}
.light-blue .switch1 .viewBtnAccount:hover {
  color: #2E7665;
}
.light-blue .switch1 .editBtnAccount:hover {
  color: #2E7665;
}
.light-blue .switch1 .deleteBtnAccount:hover {
  color: #2E7665;
}
.light-blue .equalDistCard1 {
  border-top-color: #1660A4;
}
.light-blue .distrbnCard1paras p:last-child {
  color: #1660A4;
}
.light-blue .bgChangerComGraph1 p:nth-child(2) {
  color: #1660A4;
}
.light-blue .equalDistCard2 {
  border-top-color: #089875;
}
.light-blue .distrbnCard2paras p:last-child {
  color: #0E6651 !important;
}
.light-blue .blueRadioSwtchpara {
  color: #0E6651 !important;
}
.light-blue .bgChangerComGraph2 p:nth-child(2) {
  color: #0E6651;
}
.light-blue .switch1 .checkbox2:checked~.layer2 {
  background: #089875 !important;
}
.light-blue .greenProgress1 {
  background: #1660A4;
}
.light-blue .greenProgress1 .CardProgress {
  background: #287BC7;
}

.light-blue .greenProgress1.switchBg {
  background: #287BC7 !important;
}
.light-blue .boxProgress.switchBg {
  background: #e9e9e9 !important;
}
.light-blue .greenProgress1.switchBg .CardProgress {
  background: #1660A4 !important;
}
.light-blue .blueProgress1 {
  background: #0E6651 !important;
}
.light-blue .blueProgress1 .CardProgress{
  background: #10B78E !important;
}
.light-blue .boxProgress * {
  color: rgb(233, 233, 233);
  background: rgb(233, 233, 233) !important;
}
.light-blue .boxProgress {
  background: rgb(233, 233, 233) !important;
}
.light-blue .boxProgress.switchBg .CardProgress {
  background: rgb(233, 233, 233) !important;
}
.light-blue .boxProgress .CardProgress {
  background: rgb(233, 233, 233) !important;
}
.light-blue .cumulativeProgLifePro1 {
  background: #1660A4;
}
.light-blue .cumulativeProgLifePro2 {
  background: #089875;
}
.light-blue .cumulativeProgLifePro3 {
  background: #763CA3;
}
.light-blue .cumulativeProgLifePro4 {
  background: #9D2B2B;
}
.light-blue .BottomcumulativeLifePro1 {
  background: #287BC7;
}
.light-blue .BottomcumulativeLifePro2 {
  background: #10B78E;
}
.light-blue .BottomcumulativeLifePro3 {
  background: #9453C8;
}
.light-blue .BottomcumulativeLifePro4 {
  background: #C04141;
}
.light-blue .cumulativeProgAccount {
  background: #0E6651;
}
.light-blue .BottomcumulativeAccount {
  background: #10B78E;
}

.light-blue .CardProgressBig1 {
  background: #1660A4 !important;
}
.light-blue .progressBarOvrwrt1 {
  background: #287BC7;
}
.light-blue .CardProgressBig2 {
  background: #089875 !important;
}
.light-blue .progressBarOvrwrt2 {
  background: #10B78E;
}
.light-blue .orangeProgress1.switchBg .orangeProgress2 {
  background: #E8662F;
}
.light-blue .orangeProgress1.switchBg {
  background: #F67F4C;
}
.light-blue .reportTablesDiv7 .table th {
  border-left-color: #DE835C !important;
}
.light-blue .viewBtnLirp svg path,
.light-blue .viewBtnLirp svg circle,
.light-blue .editBtnLirp svg rect,
.light-blue .editBtnLirp svg path,
.light-blue .deleteBtnLirp svg path {
  stroke: #1660A4;
}
.light-blue .deleteBtnLirp svg rect {
  fill: #1660A4;
}
.light-blue .lirpPara8 {
  color: #1660A4;
}
.light-blue .lirpBtmDiv8 p {
  color: #1660A4;
}
.light-blue .reportTablesDiv8 table thead th:last-child {
  border-left-color: #2977BF;
}
.light-blue .reportTablesDiv8 table thead th {
  background: #1660A4 !important;
}
.light-blue .commonTableCls .reportTablesDiv .tableCommonForDisable th {
  border-left-color: #DFDFDF !important;
  background: #ececec !important;
}
.light-blue .commonTableCls .disableBtnsForAll svg path,
.light-blue .commonTableCls .disableBtnsForAll svg circle,
.light-blue .commonTableCls .disableBtnsForAll svg rect {
  stroke: #CDCDCD !important;
}
.light-blue .tableCommonForDisable .table th {
  border-left-color: #dfdfdf !important;
}
.light-blue .commonTableCls .tablesCmnClr * {
  color: #CDCDCD;
}
.light-blue .irrCardParaGreen1 {
  color: #1a89ee;
}
.light-blue .irrCardParaGreen2 {
  color: #1660a4;
}
.light-blue .irrCardParaBlue1 {
  color: #209579;
}
.light-blue .irrCardParaBlue2 {
  color: #0E6651;
}
.light-blue .disableGroupedBar * {
  background: #E9E9E9 !important;
  color: #E9E9E9 !important;
}
.light-blue.presentationModeCommon .reportBuilderLftInner.active {
  background: #004885;
  border-radius: 0;
}
.light-blue.presentationModeCommon .reportBuilderLftInner.active .lftRadioBtnDiv label {
  color: #fff;
}
.light-blue.presentationModeCommon .reportBuilderLftInner.active:hover {
  background: #0b65b4;
}
.light-blue.presentationModeCommon .reportBuilderLftInner.linkActive {
  background: #0b65b4;
}
.light-blue.presentationModeCommon .reportSwtchLeft.active {
  background: #0b65b4;
  color: #fff;
}
.light-blue.presentationModeCommon .reportBuilderLftSwtch {
  background: transparent;
  border: 1.5px solid #3a8fdf;
}
.light-blue .feeBlueBar1 {
  background: #0E6651 !important;
}
.light-blue .feeBlueNumBar1 {
  background: #1D856C;
}
.light-blue .feeBlueBar2 {
  background: #209579 !important;
}
.light-blue .feeBlueNumBar2 {
  background: #30AD8F;
}
.light-blue .feeBlueBar3 {
  background: #3ECAA8 !important;
}
.light-blue .feeBlueNumBar3 {
  background: #39BE9E;
}
/*  */
.light-blue .feeGreenBar1 {
  background: #1660A4 !important;
}
.light-blue .feeGreenNumBar1 {
  background: #0C4A83;
}
.light-blue .feeGreenBar2 {
  background: #207ACD !important;
}
.light-blue .feeGreenNumBar2 {
  background: #1768B2;
}
.light-blue .feeGreenBar3 {
  background: #1A89EE !important;
}
.light-blue .feeGreenNumBar3 {
  background: #0F7ADC;
}
.light-blue .backToscenario:hover {
  color: #23669E;
}
.light-blue .backToscenario:hover svg rect {
  fill: #23669E;
}

.light-blue .cardRadioSwtchpara1{
  color: #1660A4!important;
}
.light-blue .cardRadioSwtchpara2{
  color:#0E6651!important;
}
.light-blue .cardRadioSwtchpara3{
  color:#763CA3!important;
}
.light-blue .cardRadioSwtchpara4{
  color: #9D2B2B!important;
}
.light-blue .cardMainHeading1 {
  color: #1660A4 !important;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0;
}
.light-blue .cardMainHeading2 {
  color: #0E6651 !important;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0;
}
.light-blue .compGraphSmallBdrClr1 p{
  background: #287BC7;
}

.light-blue .makeEqualPara2{
  color: #0E6651!important;
}
.light-blue .makeEqualPara1{
  color: #1660A4!important;
}
.light-blue .makeEqualPara3{
  color: #763CA3!important;
}
.light-blue .makeEqualPara4{
  color: #9D2B2B!important;
}

.light-blue .lightProgress2{
  background: #089875;
}
.light-blue .lightProgress2 div{
  background: #10B78E;
}
.light-blue .lightProgress1{
  background: #1660A4;
}
.light-blue .lightProgress1 div{
  background: #1A89EE;
}
.light-blue .lightProgress3{
  background: #763CA3;
}
.light-blue .lightProgress3 div{
  background: #B770EF;
}
.light-blue .lightProgress4{
   background: #9D2B2B;
}
.light-blue .lightProgress4 div{
  background: #CA3939;
}

.light-blue .irrCardParaTop2{
  color: #0E6651;
  font-weight: 600;
font-size: 13px;
margin: 0;
}
.light-blue .irrCardParaBtm2{
  color: #209579;
  font-weight: 600;
font-size: 13px;
margin: o;
}

.light-blue .irrCardParaTop1{
  color:#1660A4;
  font-weight: 600;
font-size: 13px;
margin: 0;
}
.light-blue .irrCardParaBtm1{
  color: #1A89EE;
  font-weight: 600;
font-size: 13px;
margin: o;
}

/*  */
.light-blue .cumulativeProgAccount1 {
  background: #1660A4;
}
.light-blue .BottomcumulativeAccount1 {
  background: #287BC7;
}
/*  */
.light-blue .cumulativeProgAccount2 {
  background: #0E6651;
}
.light-blue .BottomcumulativeAccount2 {
  background: #25967B;
}
.light-blue .bigbarsmaincolorDisable * {
  background: transparent;
  color: transparent;
}
/*  */

.light-blue .irrGroupedBars1 .irrBarHeight1{
  background: #1660A4;
  }
.light-blue .irrGroupedBars1 .irrvaluebarbg1{
  background: #287BC7;
  }

.light-blue .irrGroupedBars1 .irrBarHeight2{
  background: #1660A4;
  }
.light-blue .irrGroupedBars1 .irrvaluebarbg2{
  background: #287BC7;
  }

  /*  */

.light-blue .irrGroupedBars2 .irrBarHeight1{
  background: #209579;
  }
.light-blue .irrGroupedBars2 .irrvaluebarbg1{
  background: #30AD8F;
  }
        
.light-blue .irrGroupedBars2 .irrBarHeight2{
  background: #0E6651;
  }
.light-blue .irrGroupedBars2 .irrvaluebarbg2{
  background: #25967B;
}

.reportTablesDiv3 .table tbody tr td{
  background:#F9FCFF;
}
.reportTablesDiv4 .table tbody tr td{
  background: #FAFFFE;
}
.reportTablesDiv5 .table tbody tr td{
  background: #FEFAFF;
}
.reportTablesDiv6 .table tbody tr td{
  background: #FFFAF7;
}
.reportTablesDiv7 .table tbody tr td{
  background: #FFFAF7;
}
.light-blue .add-table-column-btn:hover{
  background-color: #f4f4f4;
  color: var(--blue-clr);
  border-color: #ddd;
}
.light-blue .add-data-btn{
  background-color: var(--blue-clr);;
}
.light-blue .illustration-data-table tr th input[type=checkbox]{
  accent-color: #23669E;
}

.light-blue .feeAnalysisLeftBar1{
  background-color: #1660A4;
}
.light-blue .feeAnalysisLeftBar2{
  background-color: #0E6651;
}
.light-blue .feeAnalysisMiddleBar1{
  background: #207ACD;
}
.light-blue .feeAnalysisMiddleBar2{
  background: #209579;
}

.light-blue .feeAnalysismiddleBarBtm1{
  background: #1768B2;
}
.light-blue .feeAnalysismiddleBarBtm2{
  background: #30AD8F;
}
.light-blue .feeAnalysisLeftBarBtm1{
background: #0C4A83;
}
.light-blue .feeAnalysisLeftBarBtm2{
  background: #1D856C;
}

.light-blue .feeAnalysisRightBar1{
  background: #1A89EE;
}
.light-blue .feeAnalysisRightBar2{
  background: #3ECAA8;
}
.light-blue .feeAnalysisrightBarBtm1{
  background: #0F7ADC;
}
.light-blue .feeAnalysisrightBarBtm2{
  background: #39BE9E;
}

.light-blue .file-container-div .file-grid-view .grid-file-card:hover svg rect{
  stroke: #23669E;
}
.light-blue .illustration-file-table td .illustration-file-name:hover, .light-blue .file-container-div .file-grid-view .grid-file-card:hover .grid-file-name{
  color: var(--blue-clr);
}
.light-blue .upload-illustration-label{
  background-color: var(--blue-clr-2);
}